@model MvcStok.Models.Entity.Urunler
@{
    ViewBag.Title = "YeniUrunEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form method="post" class="form-group">
    <div>
        <label>ÜRÜN AD</label>
        <input type="text" class="form-control" name="UrunAd" required="" />
    </div>
    <div style="margin-top:15px">
        <label>MARKA</label>
        <input type="text" class="form-control" name="Marka" required=""/>
    </div>
    <div style="margin-top:15px">
        <label>ÜRÜN KATEGORİ</label>
        @Html.DropDownListFor(d=>d.Kategoriler.KategoriId,(List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>ÜRÜN FİYAT</label>
        <input type="text" class="form-control" name="UrunFiyat" />
    </div>
    <div style="margin-top:15px">
        <label>STOK</label>
        <input type="text" class="form-control" name="Stok" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Ürün Ekle</button>
    </div>
</form>

