@using MvcStok.Models.Entity
@model List<Musteriler>
@{
    ViewBag.Title = "MusteriListele";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>MÜŞTERİ ID</th>
        <th>MÜŞTERİ ADI</th>
        <th>MÜŞTERİ SOYADI</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>

    <tbody>

        @foreach (var musteri in Model)
        {
            <tr>
                <td>@musteri.MusteriId</td>
                <td>@musteri.MusteriAd</td>
                <td>@musteri.MusteriSoyad</td>
                <td><a href="/Musteri/Sil/@musteri.MusteriId" class="btn btn-danger">SİL</a></td>
                <td><a href="/Musteri/Guncelle/@musteri.MusteriId" class="btn btn-success">GÜNCELLE</a></td>
            </tr>
        }

    </tbody>
</table>
<a href="/Musteri/YeniMusteriEkle/" class="btn btn-primary">YENİ MÜŞTERİ EKLE</a> 

